/* 三个人员模块 */
.three_people{
    position: relative;
    height: 120px;
    /* background-color: pink; */
}
.three_people ul{
    position: absolute;
    top: -46px;
}
.three_people ul li{
    float: left;
    width: 240px;
    height: 92px;
    margin-right: 30px;
    background-color: #f1f5fc;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 92px;
    box-shadow:4px 7px 20px 1px #f0f4f9;
}
.three_people ul li:hover{
    box-shadow:4px 7px 20px 1px #dbeafc;
}
.three_people ul li:hover a{
    color: #2670e8;
}

.three_people ul li img{
    width: 50px;
}
.three_people ul li a{
    font-size: 18px;
}
/* 图标内容 */
.box{
    height: 800px;
    background-color: #f3f5f8;
}
.box .map{
    margin-top: -86px;
    height: 800px;

    background: url(/static/imgs/map1.jpg) no-repeat ;
    background-color: pink;
    z-index: 999;
}
.box_header{
    background-color: #fff;
    height: 181px;
    border-bottom: 1px solid #e0e0e0b7;    
    box-shadow:0px 40px 50px 1px #e6ebf2;
}
.bh{
    height: 80px;
    /* background-color: azure; */
    margin-bottom: 20px;
}
.bh h2{
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 28px;
    color: #000;
}
.bh p{
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #3d485d;
}
.b_nav{
    height: 80px;
    /* background-color: aquamarine; */
}
.b_nav ul{
    display: table;
    margin: 0 auto;
}
.b_nav ul li{
    height: 80px;
    float: left;
    font-size: 16px;
    padding: 0 20px 20px;
    margin-right: 100px;
    text-align: center;
    
}
.b_nav ul li:last-child{
    margin-right: 0;
}
.b_nav ul li span{
    text-align: center;
}
.b_nav ul li img{
    text-align: center;
    display: block;
    height: 45px;
    margin: 0 auto 2px

}
.b_nav ul li:hover{
    border-bottom: 3px solid #0052d9;

}
.b_nav ul li:hover span{
    color: #0052d9;
}
.focue_lis{
    border-bottom: 3px solid #0052d9;
    color: #0052d9;
}
/* 主题内容部分 */
.bd{
    height: 620px;
    /* background-color: #dbeafc; */
    border: 1px solid transparent;
    /* display: none; */
}


.search_table{
    margin-top: 30px;
    width: 550px;
    height: 55px;
    background-color: pink;
    border: 1px solid #0052d9;
    box-shadow:10px 10px 19px 1px #b6c5d8;
}
.search_table select{
    float: left;
    padding: 5px;
    height: 53px;
    width: 69px;
    font-size: 16px;
    border: 1px solid #dbeafc;
}
.search_table .search{
    float: left;
    height: 53px;
    width: 425px;
    font-size: 16px;
    text-indent: 2em;
    color: #000000;
    background-color: #ffffff;
}
.search_table button{
    float: left;
    background-color: #0052d9;
}
.search_table button img{
    height: 54px;
}


/* 表格 */
.table{
    width: 1400px;
    height: 20px;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 16px;
    box-shadow:20px 20px 50px 1px #b6c5d8;
    /* display: none; */

}
/* 表格标题格式 */
.table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}
/* 表格整体字体灰色，居中对齐，上下边距20px */
th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 10px 0;
    font-family: '宋体';
}
/* 奇数行白色 */
.table tbody tr:nth-child(even){
    background-color: #fff;
}
/* 首行蓝色，字体白色 */
.table thead tr{
    background-color: #0052d9;
    color: #fff;
    font-family: '黑体';
}
/* 偶数行灰色 */
.table tbody tr:nth-child(odd){
    background-color: #eee;
}


.table tbody tr:hover{ 
    background-color: #ccc;
}

.table tbody tr td:first-child{
    color: #2670e8;
}

.table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}
.health_yello{
    color: #f5b52a;
}
.health_green{
    color: green;
}

.health_red{
    color: red;
}

/* 小图标 */
.sfr{

    position: fixed;
    width: 44px;
    height: 126px;
    background-color: pink;
    right: 5px;
    top: 70%;
    border-radius: 22px;
    text-align: center;
    background-color: #fefefe;
    box-shadow:20px 20px 50px 1px #c7c9cc;
}
.sfr img{
    margin-top: 9px;
    width: 20px;
}
.sfr span{
    display: block;
    text-align: center;
    width: 14px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 20px;
    margin-top: 7px;

}
.sfr:hover{
    box-shadow:20px 20px 50px 1px #b6c5d8;
}


/* 人员体征信息表格 */
.table_tz{
    width: 1400px;
    height: 20px;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 16px;
    box-shadow:20px 20px 50px 1px #b6c5d8;

}
/* 表格标题格式 */
.table_tz caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}
/* 表格整体字体灰色，居中对齐，上下边距20px */
th,td{
    border: 1px solid #999;
    text-align: center;
    padding: 10px 0;
    font-family: '宋体';
}
/* 奇数行白色 */
.table_tz tbody tr:nth-child(even){
    background-color: #fff;
}
/* 首行蓝色，字体白色 */
.table_tz thead tr{
    background-color: #0052d9;
    color: #fff;
    font-family: '黑体';
}
/* 偶数行灰色 */
.table_tz tbody tr:nth-child(odd){
    background-color: #eee;
}


.table_tz tbody tr:hover{ 
    background-color: #ccc;
}

.table_tz tbody tr td:first-child{
    color: #2670e8;
}

.table_tz tfoot tr td{
    text-align: right;
    padding-right: 20px;
}
.health_yello{
    color: #f5b52a;
}
.health_green{
    color: green;
}

.health_red{
    color: red;
}








